.footer{
  display: flex;
  font-size: larger;
  font-weight: bolder;
  height: 50px;
  width: 100%;
  background-color: rgb(3, 8, 32);
  color: white;
  text-align: center;
  margin-top: 5px;
  justify-content: center;
}
.footer__items > span{
  margin-top: 10px;
  margin-left: 8px;
}
.footer__logo{
  margin-top: 10px;
  margin-left: 0px;
  height: 26px;
  width: 150px;
}
.footer__items{
  display: flex;
  margin: auto;
}