.infoBox{
  flex: 1;
  cursor: pointer;
}
.infoBox:not(:last-child){
  margin-right: 20px;
}
.infoBox__cases{
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox__total{
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
.infoBox--selected{
  border-top: 10px solid greenyellow;
}
.infoBox--red{
  border-color: red;
}
.infobox__cases--green{
  color: rgb(88, 223, 88) !important;
}
@media (max-width: 460px) {
  .infoBox{
      margin-left: 15px;
      margin-right: 20px;
      margin-bottom: 10px;
  }
}