.table{
  margin-top: 20px;
  height: 350px;
  overflow: scroll;
  color: #6a5d5d;
}
.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}
.table tr{
  display: flex;
  justify-content: space-between;
}
.table td{
  padding: 0.5rem;
}
.table--green{
  color: rgb(25, 146, 21);
}
.table--red{
  color: rgb(124, 12, 12);
}