.vaccine__img{
  position: relative;
  margin-top: -10px;
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
  height: 220px;
}
.vaccine__info{
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  overflow: scroll;
  height: 100vh;
  color: #1f1d1d;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
}
.vaccine__icon{
  color: black;
  margin-left: 4px;
  margin-top: 4px;
}
.vaccine__info tr:nth-of-type(odd){
  background-color: #e8ebeb;
}
.vaccine__info tr:nth-of-type(even){
  background-color: rgba(240, 239, 239, 0.897);
}
.vaccine__info tr,.vaccine__header tr{
  display: flex;
  justify-content: space-between;
}
.vaccine__info td, .vaccine__header td{
  padding: 0.5rem;
  flex: 0.3;
  text-align: center;
}
.vaccine__header{
  padding: 10px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}
.vaccine__header > h1,.vaccine__header >  tr{
  margin-top: -30px;
}
.vaccine__header > tr > td > h2{
  color: rgb(8, 8, 8);
}
.vaccine__header > h1 {
  color: rgb(236, 121, 13);
  text-shadow: rgb(65, 94, 150);
}
.trial--green{
  color: rgb(62, 161, 207);
  font-weight: bolder;
}
.trial--normal{
  color: rgb(39, 32, 32);
  font-weight: 500;
}